body {
    background-color: #c0c0c0;
    font-family: "Gill Sans", "Calabri", sans-serif;
}

h1 {
   text-align:center;
}
div {
/*/    border-style: solid;
    border-color: black;
    border-radius: 6px; */
    line-height: 40px;
    margin: auto;    
/*    box-sizing: border-box; */
}
div.noborder {
    border-style:none;
    text-align:center;    
}
div.main{
    border-style: solid;
    border-color: black;
    border-radius: 6px;
    min-width:500px;
    max-width:1200px;
    padding: 20px;
    margin:auto;
}

.main form{
text-align:center;
margin: 0 auto;
}

.main button {
margin: 0 auto;
background-color: #fefefe;
}

div.table_back {
    border-style: none;
    max-width:1000px;
    background-color: #f0f0f0;
}

div.totals{
    float:bottom;
    max-height: 50px;
}

div.sidebyside {
    padding:10px;
    float:left;
    min-width:20%;
    max-width:25%;
    text-align:center;
    background-color:skyblue;
}

div.sidebar {
    padding:20px;
    float:left;
    min-height:100px;
    min-width:100px;
    background-color: #ffffff;
    max-width: 200px;
    text-align:center;
}

span.buttonlink{
    padding:5px;
    border-style: solid;
    border:1px;
}

button.dropbutton {
    background-color: #ffffff;
    color: #000000;
    width: 175px;
    height: 50px;
    padding: 16px;
    font-size: 15px;
    border: 2px;
}

.dropdown {
    border-style:solid;
    border: 1px;
    position: relative;
    display: inline-block;
}

.dropcontent {
    display:none;
    position: absolute;
    top: -30px;   
    left: 160px;  
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropcontent a {
    background-color: #ffffff;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropcontent a:hover {background-color: #ddd;}
.dropdown:hover .dropcontent {display: block;}
.dropdown:hover .dropbutton {background-color: #db7093;}





/*

//merging the special formatting from materials.php to the style file
//Will need to figure out how to deal with the red/yellow text

From materials.php

.mat_table {
    box-sizing: border-box;
}




    <style>
    *{
        box-sizing: border-box;
    }
    * Create three equal columns that floats next to each other *
    .column
    {
        float: left;
        width: 33.33%;
        padding: 10px;
    }
    * Clear floats after the columns *
    .row:after
    {
       content: "";
       display: table;
       clear: both;
    }
    .checkmark {
        position: absolute;
        top: 200;
        left: 0;
        height: 15px;
        width: 15px;
    }	
    </style>
    <!-- End style code to move to external CSS -->
*/


