body {
    max-width: 1400px;
    min-width: 500px;
    background-color: #d3d3d3;
/*    background-image: url("red_panda_02.jpg");
    background-attachment: fixed;
    background-size: 400px;
    background-position: right top;
    background-repeat: no-repeat; */
    margin-right: 400px;
    font-family: "Arial", sans-serif;
    font-size: 100%;

}

h1 {
    letter-spacing:2px; 
    color: black;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 3px 2px #929292;
}

div {
    /* background-image: url(/graphics/small_bamboo_kisspng);
    background-position: left;
    background-repeat: no-repeat;
    background-color: inherit;*/
    margin-top:25px;
    margin-bottom: 25px;
    margin-left: 275px;
    border: 4px solid #000000;
    padding: 30px;
    font-size:1.25em;
    border-radius: 50px;
}
img {
    max-width:100%;
} 
.sidebar {
    margin-left: 20px;
    height: 100%; 
    width: 150px;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    border-radius: 0px;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 10px;
    padding-top: 60px; /* Place content 60px from the top */
    text-align:center;
    overflow: auto;
}
    

p  {
   text-indent: 30px;
   outline-color: #cccccc;
   outline-style: ridge;
   margin-left: 50px;
   margin-right: 50px;

a.button {
    background-color: #666666;
/*    width: 100px;*/
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: 3px;
    outline-color: #000000
}
#disc {
    font-style:italic;
}
span {
     font-style: italic;
}

/*
a:hover, a:active {
    background-color: #993300;
}

a.inline {
    color: #0000FF;
}
*/
